%p#notice= notice

%p
  %b Title:
  = @build.title
  %b Cpu:
  - (0..2).each do |i|
    =CentralProcessingUnit.where(id: @build.cpu_id).pluck(:chipmake, :chipmodel)[0][i]

  -# = for(int i; i<=3 i++){
  -# CentralProcessingUnit.where(id: @build.cpu_id).pluck(:ChipMake, :ChipModel)[0][1]
  %b Gpu:
  - (0..3).each do |i|
    =GraphicsProcessingUnit.where(id: @build.gpu_id).pluck(:aftermarketmake, :chipmake, :chipmodel)[0][i]

= link_to 'Edit', edit_build_path(@build)
\|
= link_to 'Back', builds_path
