%p#notice= notice

%p
  %b Title:
  = @build.title
  %b Cpu:
  - (0..2).each do |i|
    =CentralProcessingUnit.where(id: @build.cpu_id).pluck(:ChipMake, :ChipModel)[0][i]

  -# = for(int i; i<=3 i++){
  -# CentralProcessingUnit.where(id: @build.cpu_id).pluck(:ChipMake, :ChipModel)[0][1]

= link_to 'Edit', edit_build_path(@build)
\|
= link_to 'Back', builds_path
