%h1= t('.title')
-# = needs to have equals with no space
%p= t('.welcome')
%div.container
  %img{alt: "Pc Builds", height: "500", src: "https://images.unsplash.com/photo-1552585155-f5c1efa32555?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80", width: "auto"}/
