%h1= t('.title')
-# = needs to have equals with no space
%p= t('.welcome')
%img{alt: "Pc Builds", height: "500", src: "https://cdn.fstoppers.com/styles/large-16-9/s3/lead/2017/05/best_pc_build_for_adobe_premiere.jpg", width: "800"}/
